# ==========================================
# Archivos específicos de Python y Caché
# ==========================================
# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Distribuciones y empaquetado
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# ==========================================
# Entornos Virtuales (¡Crucial!)
# ==========================================
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# ==========================================
# Archivos de Configuración y Seguridad
# ==========================================
# Jamás subas tus credenciales o claves secretas
.env.*
!.env.example
secrets.json
*.pem
*.key

# ==========================================
# Pruebas y Cobertura (Testing)
# ==========================================
htmlcov/
.tox/
.nosenv/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# ==========================================
# Herramientas de Análisis Estático (Linters)
.pytype/
.ruff_cache/
.black


# ==========================================
# Jupyter Notebooks

# ==========================================

.ipynb_checkpoints

*/.ipynb_checkpoints/*


# ==========================================
# IDEs y Editores de Código comunes
# ==========================================
# VS Code
.vscode/

!.vscode/settings.json

!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace


# PyCharm / JetBrains
.idea/


# Editores del sistema y notas
.DS_Store
Thumbs.db
.obsidian/
