USE [DB_ECOMMERCE]
GO
/****** Object:  Trigger [SQM_GENERAL].[Trg_StockInput]    Script Date: 15/2/2026 11:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [SQM_GENERAL].[Trg_StockInput]
ON [SQM_GENERAL].[Tbl_StockMovementDetails]
AFTER INSERT
AS
	DECLARE
		@stockMovementDetailMovementId INT,
		@stockMovementDetailProductVariableId INT,
		@stockMovementDetailQuantity INT,
		@stockMovementDetailFactoryDate DATE,
		@stockMovementDetailExpirationDate DATE,
		@stockMovementTypeId INT,
		@stockMovementDetailCreatorId INT,
		@stockMovementDetailCreationDate DATETIME,
		@stockMovementDetailStatusId BIT


	SELECT
		@stockMovementDetailMovementId = stockMovementDetailMovementId,
		@stockMovementDetailProductVariableId = stockMovementDetailProductVariableId,
		@stockMovementDetailQuantity = stockMovementDetailQuantity,
		@stockMovementDetailFactoryDate = stockMovementDetailFactoryDate,
		@stockMovementDetailExpirationDate = stockMovementDetailExpirationDate,
		@stockMovementDetailCreatorId = stockMovementDetailCreatorId,
		@stockMovementDetailCreationDate = stockMovementDetailCreationDate,
		@stockMovementDetailStatusId = stockMovementDetailStatusId
	FROM inserted

	SELECT
		@stockMovementTypeId = stockMovementTypeId
	FROM [SQM_GENERAL].[Tbl_StockMovements] (NOLOCK)
	WHERE stockMovementId = @stockMovementDetailMovementId

	IF ISNULL(@stockMovementTypeId, 0) = 0
		BEGIN
			THROW 51000, 'TIPO DE MOVIMIENTO NO EXISTE', 1;
		END
	ELSE IF NOT EXISTS(SELECT 1 FROM [SQM_GENERAL].[Tbl_ProductVariables] WHERE productVariableId = @stockMovementDetailProductVariableId)
		BEGIN
			THROW 51000, 'VARIANTE DE PRODUCTO NO EXISTE', 1;
		END
	ELSE
		BEGIN
			IF(@stockMovementTypeId = 2) -- INGRESO INVENTARIO
			BEGIN
				BEGIN TRANSACTION TRX_INS_STOCK
				BEGIN TRY
					INSERT INTO [SQM_GENERAL].[Tbl_Stocks](stockProductVariableId,stockQuantity,
					stockFactoryDate,stockExpirationDate,stockCreatorId,stockCreationDate,stockStatusId)
					VALUES (@stockMovementDetailProductVariableId, @stockMovementDetailQuantity,
					@stockMovementDetailFactoryDate, @stockMovementDetailExpirationDate,
					@stockMovementDetailCreatorId, @stockMovementDetailCreationDate, @stockMovementDetailStatusId)
				
					COMMIT TRANSACTION TRX_INS_STOCK;
				END TRY
				BEGIN CATCH
					THROW 51000, 'ERROR AL INSERTAR DATOS EN EL INVENTARIO', 1;
					ROLLBACK TRANSACTION TRX_INS_STOCK;
				END CATCH
			END
		END
